/* Align content to the center */
.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styling for buttons */
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Styling for the join button */
.join {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.join-btn {
    flex: 1;
    background-color: #3498db;
    color: #ffffff;
}

.join-btn:hover {
    background-color: #2980b9;
}

/* Styling for the create button */
.create-btn {
    width: 100%;
    padding: 10px;
    background-color: #4caf50; /* Green button background color */
    color: #ffffff; /* White button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-btn:hover {
    background-color: #45a049; /* Darker green on hover */
}

/* Styling for the message box */
.message-box {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #f0f0f0; /* Soft background color */
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: stretch;
    overflow: hidden; /* Hide content that overflows */
}

/* Styling for messages container */
.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
    padding: 10px; /* Add padding to messages */
}

/* Styling for message inputs */
.inputs {
    padding: 10px;
    display: flex;
}

/* Styling for heading */
h2 {
    text-align: center;
}

/* Styling for message input */
#message {
    flex: 1;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-right: 8px; /* Add margin between input and button */
}

/* Styling for message text container */
.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #ffffff; /* Message background color */
    border-radius: 8px;
    margin-bottom: 8px; /* Add margin between messages */
}

/* Styling for own messages */
.own-message {
    background-color: #e2f0cb; /* Different background color for own messages */
}

/* Styling for muted text */
.muted {
    font-size: 10px;
    color: #777777; /* Dark gray muted text color */
}
