{% extends 'base.html' %}

{% block content %}
<div class="message-box">
    <h2>Chat Room: {{ code }}</h2>
    <div class="messages" id="messages"></div>
    <div class="inputs">
        <input type="text" rows="3" placeholder="Message" name="message" id="message" onkeydown="handleKeyPress(event)" />
        <button type="button" name="send" id="send-btn" onClick="sendMessage()">Send</button>
    </div>
</div>
<script type="text/javascript">
    var socketio = io();

    const messages = document.getElementById("messages");
    const currentUser = "{{ session.get('name') }}";

    // Function to generate a unique color based on the username
    const generateColor = (username) => {
        const hash = Array.from(username).reduce((acc, char) => char.charCodeAt(0) + acc, 0);
        const hue = hash % 360;
        return `hsl(${hue}, 50%, 80%)`; // Adjust saturation and lightness as needed
    };

    // Assign a unique color to the current user
    const userColor = generateColor(currentUser);

    const createMessage = (name, msg) => {
        const isCurrentUser = name === currentUser;
        const messageClass = isCurrentUser ? "own-message" : "other-message";
        const bgColor = isCurrentUser ? userColor : "";

        const content = `
            <div class="text ${messageClass}" style="background-color: ${bgColor}">
                <span>
                    <strong>${name}</strong>: ${msg}
                </span>
                <span class="muted">
                    ${new Date().toLocaleString()}
                </span>
            </div>
        `;

        messages.innerHTML += content;
    };

    socketio.on("message", (data) => {
        createMessage(data.name, data.message);
    });

    const sendMessage = () => {
        const message = document.getElementById("message");
        if (message.value === "") return;
        socketio.emit("message", { data: message.value });
        message.value = "";
    };

    const handleKeyPress = (event) => {
        if (event.key === "Enter") {
            sendMessage();
        }
    };
</script>

{% for msg in messages %}
    <script type="text/javascript">
        createMessage("{{msg.name}}", "{{msg.message}}");
    </script>
{% endfor %}
{% endblock %}
